absl-py==0.9.0
astor==0.8.1
baselines @ https://github.com/openai/baselines/archive/9ee399f5b20cd70ac0a871927a6cf043b478193f.zip
cffi==1.14.0
click==7.1.2
cloudpickle==1.3.0
cycler==0.10.0
filelock==3.0.12
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.28.1
gym==0.15.7
h5py==2.10.0
imageio==2.8.0
imageio-ffmpeg==0.4.1
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.2.1
matplotlib==3.2.1
mpi4py @ git+https://github.com/mpi4py/mpi4py@6ad13434227f5afcdeb1d733e4eb121d17b50ed1
numpy==1.18.3
opencv-python==4.2.0.34
opt-einsum==3.2.1
pandas==1.0.3
Pillow==7.1.2
procgen==0.9.4
protobuf==3.11.3
pycparser==2.20
pyglet==1.4.11
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scipy==1.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.2
termcolor==1.1.0
tqdm==4.45.0
Werkzeug==1.0.1
wrapt==1.12.1
